SONARQUBE_API_URL=http://localhost:9000
SONARQUBE_USERNAME=admin
SONARQUBE_PASSWORD=SonarqubeDevops1!
BITBUCKET_API_URL=http://localhost:7990
BITBUCKET_USERNAME=nati
BITBUCKET_PASSWORD=12345678
CONFLUENCE_API_URL=http://localhost:8090
CONFLUENCE_USERNAME=admin
CONFLUENCE_PASSWORD=12345678
HAPROXY_VALUES_REPO_URL=https://bitbucket.app.com
HAPROXY_VALUES_REPO_ACCESS_TOKEN=acces_token
HAPROXY_VALUES_REPO_SLUG=haproxy-values
HAPROXY_REPO_PROJECT_KEY=dev
HAPROXY_VALUES_REPO_EMAIL=svc_eved@com
HAPROXY_VALUES_REPO_SSH_KEY_PATH=/home/svc_account_name/.ssh/svc_eved_private_key
ARGOCD_URL=https://argocd.argo.app.com/
ARGOCD_TOKEN=argocd_token
CLUSTERS=["dev","rak"]
VAULT_URL=https://vault.apps.oscp-dev.com/
VAULT_TOKEN=hvs.token
TEAM_NAME=kingmagen
APPLICATION_SET_TIMEOUT=600
AWX_TOKEN=shekerGadol
AWX_CREATE_DNS_TEMPLATE_ID=2178
# Public base URL to the plugins S3 bucket (no trailing slash)
# Local MinIO: http://localhost:9100/confluence-plugins
# AWS S3:      https://my-bucket.s3.amazonaws.com
CONFLUENCE_S3_PLUGINS_BASE_URL=http://localhost:9100/confluence-plugins